*,:after,:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

:root {
  --primary: #D9EFF7;
  --l-blue: #9CC1F7;
  --blue: #6268E7;
  --l-yellow: #F7DC73;
  --yellow: #F9CE69;
  --l-green: #9CF7C1;
  --green: #62E768;
  --l-red: #F7848C;
  --red: #E76268;

  --foreground: #161616;
  --background: white;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: 0.3s ease;
}

body.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

body.grid header {
  grid-area: header;
}
body.grid aside {
  grid-area: aside;
}
body.grid main {
  grid-area: main;
}
body.grid alifer-footer {
  grid-area: footer;
}

body.dark {
  background-color: var(--foreground);
  color: var(--background);
}

a.link_logo {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  color: black;
  font-weight: 900;
  transition: 0.3s ease;
}

body.dark .logo {
  color: white;
}
body.dark .inner_logo {
  background-color: white;
  color: var(--blue);
}
.inner_logo {
  position: absolute;
  color: var(--yellow);
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: black;
  border-radius: 50%;
  transform: translateX(5px) translateY(-5px) rotate(-30deg);
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-sa {
  justify-content: space-around;
}
.justify-sb {
  justify-content: space-between;
}
.justify-se {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-1{
  margin: 1rem;
}
.mx-1{
  margin: 0 1rem;
}
.my-1{
  margin: 1rem 0;
}


.interface {
  max-width: clamp(320px, 80vw, 1200px);
  margin: 0 auto;
}

.responsive-grid {
  width: 100%;
  align-self: center;
  gap: 0.8em;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
}

alifer-footer {
  --link-color: var(--l-blue);
}

search-form {
  --btn-hover-color: var(--l-blue);
}

ul.no-style, ol.no-style {
  list-style: none;
}

a.no-style {
  text-decoration: none;
}

h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase,
.uppercase, a.uppercase {
  text-transform: uppercase;
}

h1.capitalize, h2.capitalize, h3.capitalize, h4.capitalize, h5.capitalize, h6.capitalize,
.capitalize, a.capitalize {
  text-transform: capitalize;
}

h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold,
.bold, a.bold {
  font-weight: bold;
}

h1.text-sm, h2.text-sm, h3.text-sm, h4.text-sm, h5.text-sm, h6.text-sm,
.text-sm, a.text-sm {
  font-size: 0.5rem;
}

h1.text-center, h2.text-center, h3.text-center, h4.text-center, h5.text-center, h6.text-center,
.text-center, a.text-center {
  text-align: center;
}

.full {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}
.h-full {
  min-height: 100%;
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}

check-toggle#theme-toggle {
  --color: var(--primary);
  --toggle-color: var(--l-blue);
  --checked-color: var(--blue);
  caret-color: transparent;
}

aside nav ul li a {
  padding: 4px;
}