*,:after,:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

:root {
  --primary: #D9EFF7;
  --l-blue: #9CC1F7;
  --blue: #6268E7;
  --l-yellow: #F7DC73;
  --yellow: #F9CE69;
  --l-green: #9CF7C1;
  --green: #62E768;
  --l-red: #F7848C;
  --red: #E76268;

  --foreground: ;
  --background: ;
}

body {
  font-family: "Inter", sans-serif;
}

a.link_logo {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  color: black;
  font-weight: 900;
}

.inner_logo {
  position: absolute;
  color: var(--yellow);
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: black;
  border-radius: 50%;
  transform: translateX(5px) translateY(-5px) rotate(-30deg);
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: bold;
}

.container {
  padding: 2rem;
  max-width: 1280px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.p-1rem {
  padding: 1rem;
}

.py-1rem {
  padding: 1rem 0;
}

.px-1rem {
  padding: 0 1rem;
}


.interface {
  max-width: clamp(320px, 80vw, 1200px);

  margin: 0 auto;
}

.responsive-grid {
  width: 100%;
  align-self: center;
  gap: 0.8em;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

link-card {
  flex-grow: 1;
  aspect-ratio: 3 / 2;
}

alifer-footer {
  --link-color: var(--l-blue);
}

search-form {
  --btn-hover-color: var(--l-blue);
}

.faq_container {
  max-width: 1280px;
  padding: 1rem;
}
.faq_dl {
  display: grid;
  grid-column: 1;
  border: 1px solid black;
  padding: 10px 0 10px;
}
.faq_container .faq_title {
  text-align: center;
}
.faq-question_container {
  margin-bottom: 10px;
}
.faq-question_container:last-of-type {
  margin-bottom: 0;
}
.faq_question {
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.faq_question::after {
  content: '+';
}
.faq_question.faq_question_open::after {
  content: '-';
}
.faq_answer {
  border: 1px solid black;
  padding: 0 30px;
  text-align: justify;
}
.faq_answer_hidde {
  display: none;
}