@import url('./globals.css');

link-card {
  display: inline-block;
  padding: 1rem;
  min-width: 280px;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
}

link-card .title {
  padding-bottom: 10px;
}

link-card:hover,
link-card:focus {
  background-color: color-mix(in srgb, var(--l-blue), transparent 60%);
  cursor: pointer;
}